<div class="container">
  <button class="btn btn-link" (click)="logout()" style="position: absolute; top: 10px; right: 20px; z-index: 100;">Logout</button>
  <div class="d-flex flex-column" style="height: 100vh">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">HOME</li>
      </ol>
    </nav>
    <!-- タスク一覧 -->
    <ag-grid-angular
      class="ag-theme-alpine flex-grow-1"
      [rowData]="tasks"
      [columnDefs]="columnDefs"
      [domLayout]="'normal'"
      [animateRows]="true"
      [rowHeight]="60"
      [suppressCellFocus]="true"
      [suppressRowClickSelection]="true"
      [modules]="modules"
      (gridReady)="onGridReady($event)">
    </ag-grid-angular>

    <!-- タスク追加ボタン -->
    <div class="row justify-content-center mt-3 mb-3">
      <button mat-raised-button class="btn btn-primary" (click)="openModal('add')">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>
</div>
