// チェック済みタスクのスタイル
.done
  color: gray !important // チェック済みタスクの文字色を薄く
  text-decoration: line-through // チェック済みタスクの取り消し線

// タスクアイテムのスタイル
.task-item
  display: flex
  align-items: center
  margin-bottom: 0.5rem

.overdue
  color: darkred // 期日超過ラベルの色を赤に
