<div class="modal-header">
  <h4 class="modal-title">
    @if (modalType === 'add') {
      タスク新規登録
    }
    @if (modalType === 'edit') {
      タスク編集
    }
  </h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="close()"></button>
</div>
<div class="modal-body">
  <form>
    <div class="container">
      <div class="row justify-content-center align-items-center g-2">
        <!-- タイトル -->
        <div class="col-12 mb-3">
          <label for="taskTitle" class="form-label">タイトル</label>
          <span class="badge text-bg-danger ms-2">必須</span>
          <input
            type="text"
            class="form-control"
            id="taskTitle"
            aria-required="true"
            name="taskTitle"
            [(ngModel)]="task.title" />
          <!-- Angular Material -->
          <mat-form-field appearance="fill" class="w-100 mt-3">
            <mat-label>新しいタスク</mat-label>
            <input matInput type="text" name="taskTitle2" [(ngModel)]="task.title" placeholder="タスク名" />
          </mat-form-field>
        </div>
        <!-- 期日 --><!-- TODO: 形式変換 -->
        <div class="col mb-3">
          <label for="taskDueDate" class="form-label">期日</label>
          <div class="input-group">
            <input
              id="taskDueDate"
              class="form-control"
              placeholder="yyyy-mm-dd"
              [(ngModel)]="formattedDueDate"
              (ngModelChange)="onDateChange($event)"
              name="dp"
              ngbDatepicker
              container="body"
              #dp="ngbDatepicker" />
            <button
              type="button"
              class="btn btn-outline-secondary bi bi-calendar3"
              aria-label="select due date"
              (click)="dp.toggle()"></button>
          </div>
          <!-- Angular Material --><!-- TODO: カレンダー表示 -->
          <mat-form-field appearance="fill" class="w-100 mt-3">
            <mat-label>期日を選択</mat-label>
            <input
              matInput
              [matDatepicker]="picker"
              name="materialDate"
              [(ngModel)]="materialDate"
              (dateChange)="onMaterialDateChange($event)" />
            <mat-hint>YYYY/MM/DD</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-secondary" (click)="close()">閉じる</button>
  <button type="button" class="btn btn-primary" (click)="save()">保存</button>
</div>
